@import "../../variables.scss";

.third {
  background-color: $light-1;
  overflow: hidden;
  color: $dark-1;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin: 30px 0 100px;
    gap: 2rem;
    background-color: $light-2;
    padding: 50px;
    border-radius: 50px;

    .grid-item {
      background-color: $light-1;
      padding: 20px 30px;
      border-radius: 50px;
      transition: $transition-1;

      &:active, &:focus {
        transform: scale(1.05)
      }

      @media (hover: hover){
        &:hover, &:active, &:focus {
          transform: scale(1.05)
        }
      }
      
      header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: $primary;
        letter-spacing: 2px;
        
        img {
          width: 100px;
          margin-right: 30px;
        }
      }

      p {
        color: $secondary;
        font-weight: 600;
      }

      ul {
        list-style-position: inside;
        list-style-type: "\2714   ";
        font-weight: 600;

        li {
          margin: 10px 0;
          font-size: 1.1rem;
        }
      }
    }
  } 
}