@import "../../variables.scss";

.research {
	background-image: linear-gradient(#99756a, #a39271);
	padding: 20px 0;

	@media (max-width: $mobile-width-1) {
		padding-bottom: 50px;
	}

	.grid {
		display: grid;
		margin-top: 30px;
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		gap: 30px;

		@media (max-width: $mobile-width-1) {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	}

	.research-item {
		border-radius: 5px;
		box-shadow: $shadow-1;
		padding: 30px;
		height: 100%;

		@media (max-width: $mobile-width-1) {
			padding: 20px;
		}

		h1 {
			font-size: 2.2rem;
			letter-spacing: 1px;

			@media (max-width: $tablet-width) {
				font-size: 1.8rem;
			}

			@media (max-width: $mobile-width-1) {
				font-size: 1rem;
			}
		}

		p {
			margin: 40px 0;
			line-height: 1.5rem;
			font-weight: 500;

			@media (max-width: $mobile-width-1) {
				line-height: unset;
				font-size: 0.8rem;
				font-weight: 400;
			}
		}
	}
}
