@import "../../variables.scss";

.research {
  @include bg-gradient($angle-left);
  display: flex;
  padding: 100px 0;
  
  .research-item {
    height: 600px;
    border-radius: 10px;
    box-shadow: $shadow-1;
    margin: 20px;
    padding: 50px;
    letter-spacing: 2px;
    transition: $transition-1;

    &:active, &:focus {
      transform: scale(1.025);
    }
    
    @media (hover: hover){
      &:hover {
        transform: scale(1.025);
      }
    }

    h1 {
      font-size: 2.2rem;
    }

    p {
      margin: 40px 0;
      line-height: 1.5rem;
      font-weight: 600;
    }
  }
}