@import "../../variables.scss";

.research {
  background-color: $primary-light;
  padding-bottom: 100px;
  
  .research-item {
    height: 600px;
    border-radius: 10px;
    box-shadow: $shadow-1;
    margin: 20px;
    padding: 50px;
    letter-spacing: 2px;
    transition: $transition-1;

    @media (hover: hover){
      &:hover {
        transform: scale(1.025);
      }
    }

    h1 {
      font-size: 2.2rem;

      @media (max-width: $tablet-width) {
        font-size: 1.8rem;
      }
    }

    p {
      margin: 40px 0;
      line-height: 1.5rem;
      font-weight: 600;
    }
  }
}