@import "../../variables.scss";

.nav-pc {
  color: $light-1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: $transition-1;
  z-index: $navbar-z-index;
  font-weight: 600;
  padding: 10px 0;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      margin: 0 15px;
      transition: $transition-1;

      &:active, &:focus {
        color: $primary-light;
      }

      @media (hover: hover){
        &:hover {
          color: $primary-light;
        }
      }

      img {
        width: 130px;
        vertical-align: bottom;
      }

    }
  }

  .logo {
    width: 150px;
  }

  .logo-container {
    margin: 0 auto 0 0;
  }
}

.sticky {
  background-color: $nav;
  color: $dark-1;
  box-shadow: $shadow-1;
}