@import "../../variables.scss";

.nav-pc {
  color: $light-1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: $transition-1;
  z-index: $navbar-z-index;
  font-weight: 600;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      margin: 0 15px;
    }
  }

  .logo {
    width: 5rem;
  }

  .logo-container {
    margin: 0 auto 0 0;
  }
}

.sticky {
  background-color: $light-1;
  color: $dark-1;
  box-shadow: $shadow-1;
}