@import "../../variables.scss";

.nav-pc {
	color: $light-1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: $transition-1;
	z-index: $navbar-z-index;
	font-weight: 600;
	padding: 10px 0;

	@media (max-width: $tablet-width) {
		display: none;
	}

	ul {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		li {
			margin: 0 15px;
			transition: $transition-1;

			@media (hover: hover) {
				&:hover {
					color: $primary-light;
				}
			}

			img {
				width: 130px;
				vertical-align: bottom;

				@media (max-width: $tablet-width) {
					width: 10px;
				}
			}
		}
	}

	.logo {
		width: 150px;
	}

	.logo-container {
		margin: 0 auto 0 0;
	}
}

.sticky {
	background-color: $nav;
	color: $dark-1;
	box-shadow: $shadow-1;
}

.nav-mob-top {
	position: fixed;
	top: -100px;
	left: 0;
	right: 0;
	transition: $transition-1;
	z-index: 7;
	background: #e4ffd2f2;

	.inner {
		display: none;
		align-items: center;
		box-shadow: $shadow-1;

		@media (max-width: $tablet-width) {
			display: flex;
		}

		.nav-mob-btn {
			padding: 0;
			display: flex;
			align-items: center;
			margin: 10px 0;
			background-color: transparent;
			border: none;
		}

		img {
			margin: 5px 20px;
			width: 37px;
		}

		.container {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			img {
				margin: 0;
				width: 30px;
			}
		}
	}
}

.nav-side-menu {
	display: none;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9;
	width: 33vw;
	background-color: #e4ffd2f2;
	color: $secondary;
	padding: 30px 0;
	transition: all 0.3s ease-in-out;
	transform: translateX(-100%);

	@media (max-width: $tablet-width) {
		display: flex;
	}

	@media (max-width: $mobile-width-1) {
		width: 60vw;
	}

	ul {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		list-style: none;

		li {
			margin: 10px 0;
			font-size: 1.1rem;
			font-weight: 600;
			border-bottom: 3px solid $secondary;

			.playstore {
				width: 150px;
				border-radius: 5px;
			}
		}

		.logo {
			width: 150px;
		}
	}

	a {
		color: inherit;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
