@import "../../variables.scss"; 

.second {
  color: $dark-1;
  overflow: hidden;
  background-color: $primary-light;

  .grid {
    background-color: $secondary-light;
    margin: 50px 0;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    box-shadow: $shadow-2;
  }
  
  .second-detail {
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 10px;
    margin: 40px 0;

    .container {
      background-color: $light-2;
      border-radius: 20px;
      padding: 20px 30px;
      width: 100%;
      position: relative;
      box-shadow: $shadow-2;

      @media (hover: hover) {
        &:hover {

          .hidden {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }

      @media (max-width: $tablet-width) {
        padding: 20px 30px;
      }
    }

    img {
      width: 200px;
    }

    h1 {
      letter-spacing: 2px;
      color: $primary;
    }

    h2 {
      font-size: 1.1rem;
      margin-bottom: 15px;
      color: $secondary;
    }

    ul {
      list-style-type: "   \2714   ";
      padding: 0 30px;
      
      @media (max-width: $tablet-width){
        padding: 0 10px;
      }

      li {
        color: $dark-3;

        @media (max-width: $tablet-width){
          font-size: 0.9rem;
        }
      }

      .hidden {
        width: 100%;
        transition: $transition-1;
        transform: translateX(-3%);
        opacity: 0;
        background-color: rgba(100, 100, 100, 0.95);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        padding: 30px 60px;
        overflow: auto;

        @media (max-width: $tablet-width){
          padding: 20px 40px;
        }

        li {
          color: $light-1;
        }
      }
    }
  }
}

.slick-prev {
  left: -4%;
}

.slick-next::before, .slick-prev::before {
	color: black;
  font-size: 2rem;
}
