@import "../../variables.scss"; 

.second {
  color: $dark-1;
  display: flex;
  overflow: hidden;
  background-color: $light-2;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: $light-1;
    margin: 50px 0;
    padding: 30px;
    border-radius: 75px;
  }
  
  .second-detail {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    img {
      width: 150px;
    }

    h1 {
      margin-top: 20px;
      letter-spacing: 2px;
      color: $primary;
    }

    h2 {
      font-size: 1.1rem;
      margin-bottom: 15px;
      color: $secondary;
    }

    p {
      font-size: 0.9rem;
      color: $dark-3;
      text-align: justify;
    }
  }
}

.slick-prev {
  left: -4%;
}

.slick-next::before, .slick-prev::before {
	color: black;
  font-size: 2rem;
}
