@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

// Colours
$light-1: #fff;
$light-2: #f2f2f2;
$light-3: #e4ffd2bb;
$dark-1: #000;
$dark-2: rgb(36, 36, 36);
$dark-3: rgb(58, 58, 58);
$primary: #39b54a;
$primary-light: #50ce61;
$secondary: brown;
$secondary-light: rgb(238, 105, 105);
$nav: $light-3;

// Fonts
$poppins: "Poppins", sans-serif;

// Misc
$transition-1: all 0.3s ease-in-out;
$shadow-1: 0 0 10px $dark-3;
$shadow-2: 0 0 6px grey;
$navbar-z-index: 9;

// Breakpoints
$tablet-width: 900px;
$mobile-width-1: 750px;
$mobile-width-2: 400px;
